@charset "ISO-8859-1";
    *
    {
      margin:  0;
      padding: 0;
    }

	.container
	{
		width: 100% ;
		height: 100vh ;
		background-color: #ffb3c1;
	}

    .nav-container
    {
      width: 100%;
      height: 70px;
      background-color: #f25c54;
      display: flex;
      position: relative;
      top: 0;
      left: 0;
    }
    
    .nav-container a
    {
    	text-decoration: none;
    	color: black;
    }

    .nav-container h1
    {
      margin-left: 20px;
      margin-top: 15px;
    }

    .nav-container ul
    {
      float: right;
      margin-left: 50%;
    }

    .nav-container li
    {
      float: left;
      list-style-type: none;
      padding: 20px;
      font-size: 20px;
    }

    .btn
    {
      width: 100%;
      height: 40px;
      padding: 10px;
      border-radius: 10px;
      outline: none;
      border: 1px solid gray;
      font-size: 15px;
      cursor: pointer;
    }

    .container1
    {
      width: 100%;
      height: 150px;
      background-color: #f7cad0;
      display: flex;
    }

    .small-con
    {
      margin-top: 25px;
      width: 15%;
      height: 100px;
      background-color: white;
      margin-left: 8%;
      display: flex;
      border-radius: 20px;
    }

    .text-con
    {
      width: 50%;
    }

    .text-con h3
    {
      font-size: 25px;
      padding-left: 30px;
      padding-top: 20px;
    }

    .text-con p
    {
      font-size: 15px;
      padding-left: 30px;
      margin-top: 10px;
    }

    .img-con
    {
      padding-top: 25px;
    }

    .small-con1
    {
      background-color: #ff7096;
       margin-top: 25px;
      width: 20%;
      height: 100px;
      margin-left: 8%;
      display: flex;
      border-radius: 20px;
    }

     .text-con1
    {
      width: 70%;
    }

    .text-con1 h3
    {
      font-size: 25px;
      padding-left: 40px;
      padding-top: 10px;
    }

    .text-con1 p
    {
      font-size: 20px;
      padding-left: 40px;
      margin-top: 5px;
    }

    .img-con1
    {
      padding-top: 25px;
    }

    .mainContainer2
    {
      width: 100%;
      height: 450px;
      display: flex;
    }

    .container2
    {
      margin-top: 20px;
      margin-left: 20px;
      width: 60%;
      height: 450px;
      background-color: white;
      outline: none ;
      border: 1px solid black ;
    }

    .heading-div
    {
      width: 100%;
      height: 50px;
      background-color: white;
      display: flex;
    }

    .heading-div h1
    {
      margin-left: 20px;
      margin-top: 5px;
    }

    .heading-div button
    {
      margin-left: 550px;
      margin-top: 8px;
      width: 100px;
      height: 35px;
      outline: none;
      border: 1px solid gray;
      background-color: #ff85a1;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
    }

    .booking-container
    {
      height: 400px;
      width: 100%;
      background-color: whitesmoke;
    }

    .booking-container table
    {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    .booking-container td, th 
    {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      border: 1px solid black;
    }

    .booking-container tr:nth-child(even) 
    {
      background-color: #dddddd;
    }


    .container3
    {
      margin-top: 20px;
      margin-left: 4%;
      width: 30%;
      height: 450px;
      border: 1px solid black;
      background-color: white;
    }

    .heading-container
    {
      width: 100%;
      height: 50px;
      background-color: white;
      display: flex;
    }

    .heading-container h1
    {
      margin-left: 20px;
      margin-top: 5px;
    }

    .heading-container button
    {
      margin-left: 170px;
      margin-top: 10px;
      width: 100px;
      height: 35px;
      outline: none;
      border: 1px solid gray;
      background-color: #ff85a1;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
    }